.a1{
    text-decoration: none;
    color: rgb(41, 104, 252);
    margin-left: 100px;
}
.f1{
    margin-top: 70px;
    width: 370px;
    height: 510px;
}
.form-control{
    width: 340px;
}
.di1{
    width: 340px;
    text-align: start;
}
.a2{
    text-decoration-line: none;
}