{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<div class="row" style="height: 500px;">
    <h3 class="pfnt">LET ME <br>INTRODUCE MYSELF</h3><br>
    <p class="pfnt">
        My name is Charudatt Palvi and I am 26 years old. 
        I reside in Thane.
        Talking about my qualification,<br> 
        I have completed my post graduation 
        Master in Computer Application(MCA) 
        from IDOL institute Mumbai univaersity. <br>
        
    </p>
    <p class="pfnt">
        My objective is to grow my career 
         as an Python Developer in reputed company,<br>
         where I can enhance my knowledge, skill & 
         experience to serve a better service to the organisation.
    </p>
    <p class="pfnt">
        I have done Android Development Certification 
        Course. I have 1 year of Flutter Developer Experience. <br>

        Talking about my family, we are 5 members family,
        Grandmother, my parents, younger brother and me.
    </p>
    <p class="pfnt">
        According to my knowledge this information is true and correct. <br>
        <h5 class="pfnt">Thank You.</h5>
    </p>

</div>
{% endblock 'main' %}